<div class="container">
	 <div class="row">First Name: <input type="text" ng-model="singupCtrl.firstname"
		 class="form-control" placeholder="firstname"
		 		  required
          minlength="4"
          ng-maxlength="100">
				</div> <br>
	 <div class="row">Last Name: <input type="text" ng-model="singupCtrl.lastname" class="form-control"></div><br>
	 <div class="row">email address: <input type="email" ng-model="singupCtrl.email" class="form-control"></div> <br>
	 <div class="row">phone number: <input type="text" ng-model="singupCtrl.phonenumber" class="form-control"></div> <br>
	 <div class="row">What is your favourite dish?
		 <input type="text" ng-model="signupCtrl.favdish" class="form-control"></div><br><br>
		 <div class="row">
		 <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})" class="form-control">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
		</div>
          <br>
	 <div class="row"> <button   class="btn btn-lg btn-primary" type="button" ng-click="singupCtrl.register()">Submit</button></div>
</div>
