<div class="container">
  <div id="info" ng-if="!infoCtrl.notFound()">
    <div class="text-center">
        <div>
        First name: {{infoCtrl.userInfo.firstname}}
      </div class="centeredblock">
        <div>Last name:  {{infoCtrl.userInfo.lastname}}</div>
        <div>Phone number: {{infoCtrl.userInfo.phone}}</div>
        <div>Email:  {{infoCtrl.userInfo.email}}</div>
        <div>
          Favourite dish:
          <div> name: {{infoCtrl.favItem.name}}</div>
          <div> description:  {{infoCtrl.favItem.description}} </div>
        <img class="img-responsive" width="250" height="150"
        ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.userInfo.favdish}}.jpg" alt="{{infoCtrl.userInfo.favdish}}">
      </div>
    </div>
  </div>
  <div class="text-center" id="info" ng-if="infoCtrl.notFound()">
    Not signed up yet.<br><br>
    <div ui-sref-active="active">
    <a ui-sref="public.signup">
      <button>Sign up </button></a>

    </div>
  </div>

</div>
